<div class="event-table">
  <h2>All Events</h2>
  <table mat-table [dataSource]="events" class="mat-elevation-z2">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let e">{{ e.recordID }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let e">{{ e.name }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let e">{{ e.type }}</td>
    </ng-container>
    
    <ng-container matColumnDef="estimateBudget">
      <th mat-header-cell *matHeaderCellDef>Budget</th>
      <td mat-cell *matCellDef="let e">{{ e.estimateBudget }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let e">
        <div class="status-wrap">
          <span class="status-text" [ngClass]="{
            'status-approved': e.status === 'APPROVED',
            'status-accepted': e.status === 'ACCEPTED',
            'status-rejected': e.status === 'REJECTED',
            'status-pending':  e.status === 'PENDING'
          }">
            {{ e.status }}
          </span>

           <!-- Approve/Reject (for Officers) -->
          @if (canAccept() && e.status !== 'ACCEPTED' && e.status !== 'REJECTED' && e.status !== 'BUDGETED' && e.status !== 'APPROVED') {
            <span class="action-buttons">
              <button mat-raised-button color="primary" (click)="onAccept(e)" class="small-btn accept-btn">Accept</button>
              <button mat-raised-button color="warn" (click)="onReject(e)" class="small-btn reject-btn">Reject</button>
            </span>
          }

          <!-- Finance Manager - Add Budget -->
          @if (isFinanceManager() && (e.status === 'ACCEPTED' || e.status === 'BUDGETED')) {
            <button  mat-raised-button color="primary"  class="small-btn accept-btn" (click)="handleBudgetClick(e)">
                {{ e.budget?.items?.length ? 'View Budget' : 'Add Budget' }}
            </button>
          }
            <!-- Approve/Reject (for Admin) -->
          @if (canApprove() && ( e.status === 'BUDGETED')) {
            <span class="action-buttons">
              <button mat-raised-button color="primary" (click)="handleBudgetClick(e)" class="small-btn info-btn">View Budget</button>
              <button mat-raised-button color="primary" (click)="onApprove(e)" class="small-btn accept-btn">Approve</button>
              <button mat-raised-button color="warn" (click)="onReject(e)" class="small-btn reject-btn">Reject</button>

            </span>
          }

        </div>
      </td>
    </ng-container>
    


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
